{% extends 'dashboard/_base.html' %}
{% load static %}

{% block content %} 
<body>
    <div class="d-flex row">
        {% include 'dashboard/_sidebar.html' %}
        <div id="content-wrapper" class="col-sm">
            {% include 'dashboard/_navbar.html' %}
            <!-- Page content-->
            <div class="container-fluid">
                <h1 class="mt-4">Simple Sidebar</h1>
            </div>
        </div>
        <script src="{% static 'dashboard.js' %}"></script>
        <script src="{% static 'toggle_sidebar.js' %}"></script>
    </div>
  </body>       
{% endblock %}
